//COLORS
$color-disabled: #B7B8B7;
$color-primary-hover: #39BF76;
$color-primary-default: #62C991;

$color-text-primary: #62C991;
$color-text-secondary: #5B5B5B;
$color-text-disabled: #B1B1B1;
$color-text-error: #CF4545;
$color-black: #000000;

$color-body: #ffffff;

//RADIUS
$radius-primary: 8px;
$radius-circle: 50%;

//FONT SIZES
$f-title: 32px;
$f-regular: 16px;
$f-label: 14px;
$f-tip: 12px;

