@import "../../styleUtils/variables.module.scss";

.title {
    font-family: $seravek;
    font-size: $f-title;
    color: $color-black;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

.subtitle {
    font-family: $inter;
    font-size: $f-regular;
    color: $color-text-secondary;
    line-height: 125%;
    text-align: center;
    margin-bottom: 40px;
}